<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Music Organizer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
    @{
        Layout = "Image";
    }

    <div id="imgbg">
    <div class="container">
        <div class="jumbotron">
            <h1>YOU WANT TO PUT SOME ARTISTS IN MY APP</h1>
            <h2>Well go right ahead and I'll keep them organized for you!</h2> 
            
            <h3><a href='/artists'>View Artist</a></h3>
            <h3><a href='/artists/new'>Add a new artist</a></h3>
        </div>       
    </div>
    </div>

    
</body>

</html>